
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Hind');

* {
    color: #333;
    /*font-family: 'Cardo', serif;*/
    font-family: 'Hind', serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


:root {
    --header-height: 50px;
    --primary-bgcolor: #e30a17;
    --light-color: #eee;
}


.header {
    height: var(--header-height);
    background-color: var(--primary-bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.header h1 {
    color: var(--light-color);
    font-size: 1.5em;
}




.flex-grid {
    display: block;
}

.col, .col2 {
    flex: 1;
}




.search {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 1em;
}


.collection {
    overflow: auto;
    height: calc(40vh - var(--header-height) - 40px);
}

.collection-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
}

.collection-item:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.collection-item.active {
    background-color: rgba(0, 0, 255, 0.3);
}

.collection-item-image {
    width: 80px;
    height: 80px;
    background: url("http://placehold.it/80x80") no-repeat center;
    background-size: cover;
}

.collection-item-title {
    color: #333;
    font-size: 0.9em;
    margin-left: 10px;
}

.collection-item-desc {
    position: relative;
}

.collection-item-veg-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
}





.details-pane {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    overflow: auto;
    padding: 0 20px;
}

.details-pane img {
    max-width: 300px;
    max-height: 300px;
}

.details-pane h1 {
    font-size: 1.4em;
}

.details-pane h2 {
    font-size: 1.2em;
}

.ingredient-group, .preparation-groups, .preparation-step {
    list-style: none;
}

.preparation-step {
    margin-bottom: 20px;
}

.details-ingredients {
    align-self: flex-start;
}


/* Larger than mobile screen (640px) */
@media (min-width: 40.0rem) {
    :root {
        --header-height: 100px;
    }



    .header { padding: 0 50px; }
    .header h1 {
        color: var(--light-color);
        font-size: 2.5em;
    }



    .flex-grid {
        display: flex;
        justify-content: space-between;
    }
    .col { flex: 1; }
    .col2 { flex: 2; }



    .collection-wrapper, .details-pane {
        height: calc(100vh - var(--header-height));
    }
    .collection {
        height: calc(100vh - var(--header-height) - 40px);
    }

    .details-pane h1 {
        font-size: 2em;
    }
    .details-pane h2 {
        font-size: 1.6em;
    }
    .details-pane img {
        max-width: 500px;
        max-height: 400px;
    }
}